# ----------------------------------------------------------------------
# Dependencias
# ----------------------------------------------------------------------
/node_modules
/package-lock.json

# ----------------------------------------------------------------------
# Builds (Directorios de salida de compilación)
# ----------------------------------------------------------------------
/build
/dist
/out
/public/build

# Directorios de compilación específicos de Vite/Next/etc.
/dist-ssr
/.next
/.parcel-cache

# ----------------------------------------------------------------------
# Archivos de entorno y claves secretas (¡LO MÁS IMPORTANTE!)
# ----------------------------------------------------------------------
# Archivo de variables de entorno, que contiene las claves (ej. Formspree)
.env
# Archivos de entorno específicos por stage (ej. .env.development)
.env.*.local
.env.local

# ----------------------------------------------------------------------
# Logs y Caché
# ----------------------------------------------------------------------
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Caché de depuración y build
.cache
.local
*.tsbuildinfo
.eslintcache

# ----------------------------------------------------------------------
# IDEs y Editores (Archivos de configuración personal)
# ----------------------------------------------------------------------
# Visual Studio Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

# JetBrains IDEs (WebStorm, IntelliJ)
.idea

# Varios archivos de sistema y de otros editores
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Archivos de pruebas
coverage

# ----------------------------------------------------------------------
# Entornos de desarrollo locales (que no deben subirse)
# ----------------------------------------------------------------------
*.local

